#mn {
    padding: 100px 20px;
    display: flex;
    gap: 20px;
}


.btnDelete {
    height: 40px;
    width: 100px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}